{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Add New Subscriber{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Add New Subscriber:</h3>
<form id="add-subscriber" action="/add-subscriber" method="post">
    Phone Number: <input type="text" name="phone-number"><br>
    First Name: <input type="text" name="fname"><br>
    Last Name: <input type="text" name="lname"><br>
    Age: <input type="number" name="age"><br>
    Gender: <input type="text" name="gender"><br>
    Monthly Watch Time (mins): <input type="number" name="watch-time"><br>

    Installation Technician: <select name="install">
        {% for i in installations %}
          <option value="{{ i[0] }}">{{ i[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addInstallTech' value='Add Installation' onclick="window.open('/add-install', 'popUpWindow',
    'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
    <br>
    <input type="submit" value="Submit">
 </form>
<br/>

{% endblock %}