{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Add New Channel Package{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Add New Channel Package:</h3>
<form id="add-channel-pkg" action="/add-channel-package" method="post">
    Channel: <select name="channel">
        {% for c in channels %}
          <option value="{{ c[0] }}">{{ c[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addChannel' value='Add Channel'
           onclick="window.open('/add-channel', 'popUpWindow',
           'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return true;">
    <br>

    Package: <select name="package">
        {% for p in packages %}
          <option value="{{ p[0] }}">{{ p[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addPackage' value='Add Package'
           onclick="window.open('/add-package', 'popUpWindow',
           'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return true;">
    <br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}