<h3>Add New Installation:</h3>
<form id="add-install" action="/add-install" method="post">
    Technician: <select name="install-tech">
        {% for t in technicians %}
          <option value="{{ t[0] }}">{{ t[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addTechnician' value='Add Technician' onclick="window.open('/add-tech', 'popUpWindow',
    'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">

    <br>
    Rating: <input type="number" name="rating"><br>
    Date: <input type="datetime-local" name="install-date"><br>
    Comments: <input type="text" name="install-comment"><br>
    <input type="submit" value="Submit">
 </form>
<br/>


