<h3>Add New Channel:</h3>
<form id="add-channel" action="/add-channel" method="post">
    Name: <input type="text" name="channel-name"><br>
    Number: <input type="number" name="channel-number"><br>

    Genre: <select name="channel-genre">
        {% for g in genres %}
          <option value="{{ g[0] }}">{{ g[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addGenre' value='Add Genre' onclick="window.open('/add-genre', 'popUpWindow',
    'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
    <br>

    <input type="submit" value="Submit">
 </form>
<br/>
