{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Add New Installation{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h3>Add New Installation:</h3>
<br>
<form id="add-install" action="/add-install" method="post">
    First Name: <input type="text" name="fname" onkeyup="this.value = this.value.toUpperCase();"><br>
    Last Name: <input type="text" name="lname" onkeyup="this.value = this.value.toUpperCase();"><br>
    Date: <input type="date" name="start_date" value="2021-02-24"><br>

    Technician: <select name="install-tech">
        {% for t in techs %}
          <option value="{{ t[0] }}">{{ t[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addTechnician' value='Add Technician' onclick="window.open('/add-tech', 'popUpWindow',
    'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">

    <br>
    Rating: <input type="number" name="rating"><br>
    Date: <input type="datetime-local" name="install-date"><br>
    Comments: <input type="text" name="install-comment"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}

