{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Add New Technician{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h3>Add New Technician:</h3>
<br>
<form id="add-tech" action="/add-tech" method="post">
    First Name: <input type="text" name="fname" onkeyup="this.value = this.value.toUpperCase();"><br>
    Last Name: <input type="text" name="lname" onkeyup="this.value = this.value.toUpperCase();"><br>
    Date: <input type="date" name="start_date" value="2021-02-24"><br>
    <input type="submit" value="Submit">
 </form>
{% endblock %}
