<h3>Add New Channel Package:</h3>
<form id="add-channel-pkg" action="/add-channel-package" method="post">
    Channel: <select name="channel">
        {% for c in channels %}
          <option value="{{ c[0] }}">{{ c[0] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addChannelPackage' value='Add Channel Package'
           onclick="window.open('/add-channel-package', 'popUpWindow',
           'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
    <br>

    Package: <select name="package">
        {% for p in packages %}
          <option value="{{ p[0] }}">{{ p[0] }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>

