<h3>Add New Subscription:</h3>
<form id="add-subscription" action="/add-subscription" method="post">
    Subscriber: <select name="subscriber">
        {% for s in subscriber %}
          <option value="{{ s[0] }}">{{ s[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addSubscriber' value='Add Subscriber' onclick="window.open('/add-subscriber',
    'popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
    <br>
    Package: <select name="package">
        {% for p in packages %}
          <option value="{{ p[0] }}">{{ p[1] }}</option>
        {% endfor %}
    </select>
    <input type='button' name='addPackage' value='Add Package' onclick="window.open('/add-package', 'popUpWindow',
    'height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
    <br>
    Start Date: <input type="datetime-local" name="start-date"><br>
    Last Renewal: <input type="datetime-local" name="renewal-date"><br>
    Status: <input type="text" name="status"><br>
    Subscriber Rating: <input type="number" name="rating"><br>
    Premium? <input type="checkbox" name="premium"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
