{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Channel Genres{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3><a href='/add-genre'>Add New Genre</a></h3>

<h3>Channel Genres</h3>
<table border='1'>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Kid Friendly</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}