<html>
    <head>
        <title>TV Ventures Subscriptions Tracking and Metrics</title>
        <h1>TV Ventures Subscriptions Tracking and Metrics</h1>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='navbar.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a class="current" href="/">Home</a>
            <a href='/channels'>Channels</a>
            <a href='/channel-packages'>Channel Packages</a>
            <a href='/technicians'>Technicians</a>
            <a href='/installations'>Installations</a>
            <a href='/packages'>Packages</a>
            <a href='/subscribers'>Subscribers</a>
            <a href='/subscriptions'>Subscriptions</a>
            <a href='/genres'>Channel Genres</a>
        </div>
    </body>
</html>
