{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Subscriptions{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3><a href='/add-subscription'>Add New Subscription</a></h3>

<h3>Subscriptions</h3>
<table border='1'>
    <thead>
        <th>ID</th>
        <th>Package Name</th>
        <th>Subscriber Name</th>
        <th>Start Date</th>
        <th>Last Renewal</th>
        <th>Status</th>
        <th>Premium</th>
        <th>Subscriber Rating</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
          <td> {{ r[0] }}</td>
          <td> {{ r[1] }}</td>
          <td> {{ r[2] }}</td>
          <td> {{ r[3] }}</td>
          <td> {{ r[4] }}</td>
          <td> {{ r[5] }}</td>
          <td> {{ r[6] }}</td>
          <td> {{ r[7] }}</td>

        <td> <input type='button' name='updateSubscription' value='update' onclick="window.location = '/update-subscription/{{r[0]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}