{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Installation{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h3>Update Installation:</h3>
<form id="update-installs" action="/update-install/{{ tech[0] }}" method="post">
    <input type="hidden" name="installation_id" value = "{{ tech[0] }}">
    Technician: <select name="technician_id">
            {% for tech in techs %}
              {{ planet[0] }}
              {{ person[3] }}
              {% if planet[0] == person[3] %}
                 <option selected value="{{ planet[0] }}">{{ planet[1] }}</option>
              {% else %}
                <option value="{{ planet[0] }}">{{ planet[1] }}</option>
              {% endif %}
            {% endfor %}
        </select><br>

    Technician <input type="text" name="technician_id"  value = "{{ tech[1] }}"><br>
    Last Name: <input type="text" name="lname" onkeyup="this.value = this.value.toUpperCase();" value = "{{ tech[2] }}"><br>
    Date : <input type="date" name="start_date" value = "{{ tech[3] }}"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}