{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Channel Package{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Update Channel Package:</h3>
<form id="update-channel-pkg" action="/update-channel-pkg/{{ channel_package_id }}" method="post">
    Channel: <select name="channel">
        {% for c in channels %}
          <option value="{{ c[0] }}">{{ c[0] }}</option>
        {% endfor %}
    </select><br>

    Package: <select name="package">
        {% for p in packages %}
          <option value="{{ p[0] }}">{{ p[0] }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}