{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Technician{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h3>Update Technician:</h3>
<form id="update-tech" action="/update-tech/{{ tech[0] }}" method="post">
    <input type="hidden" name="technician_id" value = "{{ tech[0] }}">
    First Name: <input type="text" name="fname" onkeyup="this.value = this.value.toUpperCase();" value = "{{ tech[1] }}"><br>
    Last Name: <input type="text" name="lname" onkeyup="this.value = this.value.toUpperCase();" value = "{{ tech[2] }}"><br>
    Date : <input type="date" name="start_date" value = "{{ install[5] }}"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}