{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Installation{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<h3>Update Installation:</h3>
<form id="update-installs" action="/update-install/{{ install[0] }}" method="post">
    <input type="hidden" name="installation_id" value = "{{ install[0] }}">
    Technician ID: <input type="text" name="technician_id"  value = "{{ install[1] }} " SELECTED><br>
    Installation Rating: <input type="text" name="installation_rating"  value = "{{ install[2] }}"><br>
    Comments: <input type="text" name="comments" value = "{{ install[3] }}"><br>
    Date : <input type="date" name="installation_date" value = "{{ install[4] }}"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}
