{% extends 'base.html' %}

{% block content_top %}
<h1>{% block title %}Update Subscription{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Update Subscription:</h3>
<form id="update-subscription" action="/update-subscription/{{ subscription_id }}" method="post">
    Subscription: <select name="subscription">
        {% for s in subscriptions %}
          <option value="{{ s[0] }}">{{ s[1] }}</option>
        {% endfor %}
    </select><br>
    Package: <select name="package">
        {% for p in packages %}
          <option value="{{ p[0] }}">{{ p[1] }}</option>
        {% endfor %}
    </select><br>
    Start Date: <input type="datetime-local" name="start-date"><br>
    Last Renewal: <input type="datetime-local" name="renewal-date"><br>
    Status: <input type="text" name="status"><br>
    Subscriber Rating: <input type="number" name="rating"><br>
    Premium? <input type="checkbox" name="premium"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
{% endblock %}