* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    background-color: rgb(248, 253, 255,0.9);
}
.navbar a {
    float: left;
    color: rgb(87,135,196);
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: rgb(87, 135, 196, 0.5);
    color: rgb(248, 253, 255);
}
.navbar a.current {
    background-color: rgb(87, 135, 196, 0.7);
    color: white;
}